<!DOCTYPE html>
<html lang="es">
<%- include ('head')%>
<body>
  <%- include ('header')%>
    <main>
      <section class="p-3 mb-4 bg-body-tertiary rounded-3">
        <title class="container-fluid py-5 text-center">
          <h1 class="display-5 fw-bold"><%= title %></h1>
          <p class="fs-4 my-4"><%= message %></p>
          <a href="/productos">
            <button class="btn btn-dark btn-lg mt-3 px-5">Productos</button>
          </a>          
        </title>
      </section>
      <section class="container my-5 py-4">
        <article class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2><%= titleCard1%></h2>
              <p><%= messageCard1%></p>
              <a href="https://expressjs.com/es/guide/using-template-engines.html">
                <button class="btn btn-outline-light" type="button">Documentación</button>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2><%= titleCard2%></h2>
              <p><%= messageCard2%></p>
              <a href="https://ejs.co/">
                <button class="btn btn-outline-light" type="button">Documentación</button>
              </a>
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include('footer')%>
</body>
</html>