<!DOCTYPE html>
<html lang="es">
<%- include('head')%>
<body>
    <%- include ('header')%>
    <main>
        <section class="h-75 d-flex flex-column justify-content-center">
            <article class="container pt-5 text-center">
                <h1>Lista de Productos</h1>
            </article>
            <article class="container my-5 p-3 w-50 border border-5 rounded-3">
                <table class="table table-dark table-striped table-hover mb-0">
                    <thead>
                        <tr class="border">
                            <th class="py-4 text-center border">Nombre</th>
                            <th class="py-4 text-center">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < products.length; i++) { %>
                            <tr>
                                <td class="py-3 text-center border-end"><%= products[i].name %></td>
                                <td class="py-3 text-center"><%= products[i].price %></td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </article>
        </section>
    </main>
    <%- include ('footer')%>
</body>
</html>